In [1]:
def print_student_details(name,school,
                         math,physics,chemistry,biology,
                         enrolled):
    
    total = math + physics + chemistry + biology
    
    print("Name: ", name)
    print("School: ", school, "Enrolled: ", enrolled)
    print("Score: ",total)

In [2]:
print_student_details("Alice","Columbia",
                     math = 100, physics = 97, chemistry = 89, biology = 88,
                     enrolled = True)

Name:  Alice
School:  Columbia Enrolled:  True
Score:  374

In [3]:
print_student_details("Alice","Columbia",
                     math = 100, physics = 97, chemistry = 89, biology = 88)

TypeError: print_student_details() missing 1 required positional argument: 'enrolled'

In [4]:
def print_student_details(name,school,
                         math,physics,chemistry,biology,
                         enrolled=False):
    
    total = math + physics + chemistry + biology
    
    print("Name: ", name)
    print("School: ", school, "Enrolled: ", enrolled)
    print("Score: ",total)

In [5]:
print_student_details("Alice","Columbia",
                     math = 100, physics = 97, chemistry = 89, biology = 88,
                     enrolled = True)

Name:  Alice
School:  Columbia Enrolled:  True
Score:  374

In [6]:
print_student_details("Alice","Columbia",
                     math = 100, physics = 97, chemistry = 89, biology = 88,
                     enrolled = False)

Name:  Alice
School:  Columbia Enrolled:  False
Score:  374

In [7]:
print_student_details("Alice","Columbia",
                     math = 100, physics = 97, chemistry = 89, biology = 88)

Name:  Alice
School:  Columbia Enrolled:  False
Score:  374

# When you have specified a default arg in the function definition you don't need to specify it during the function invocation if you need the default one

In [8]:
def print_student_details(name,school,
                         math,physics,chemistry,biology = 50,
                         enrolled=False):
    
    total = math + physics + chemistry + biology
    
    print("Name: ", name)
    print("School: ", school, "Enrolled: ", enrolled)
    print("Biology: ", biology)
    print("Score: ",total)

In [9]:
print_student_details("Alice","Columbia",
                     math = 100, physics = 97, chemistry = 89, biology = 88)

Name:  Alice
School:  Columbia Enrolled:  False
Biology:  88
Score:  374

In [10]:
print_student_details("Alice","Columbia",
                     math = 100, physics = 97, chemistry = 89)

Name:  Alice
School:  Columbia Enrolled:  False
Biology:  50
Score:  336

In [11]:
print_student_details("Alice","Columbia",
                     math = 100, physics = 99)

TypeError: print_student_details() missing 1 required positional argument: 'chemistry'

In [12]:
def print_student_details(name,school,
                         math,physics,chemistry = 50,biology = 50,
                         enrolled=False):
    
    total = math + physics + chemistry + biology
    
    print("Name: ", name)
    print("School: ", school, "Enrolled: ", enrolled)
    print("Chemistry: ", chemistry)
    print("Biology: ", biology)
    print("Score: ",total)

In [13]:
print_student_details("Alice","Columbia",
                     math = 100, physics = 97, chemistry = 89)

Name:  Alice
School:  Columbia Enrolled:  False
Chemistry:  89
Biology:  50
Score:  336

In [14]:
print_student_details("Alice","Columbia",
                     math = 100, physics = 99)

Name:  Alice
School:  Columbia Enrolled:  False
Chemistry:  50
Biology:  50
Score:  299

In [15]:
def print_student_details(name,school,
                         math= 50,physics,chemistry = 50,biology = 50,
                         enrolled=False):
    
    total = math + physics + chemistry + biology
    
    print("Name: ", name)
    print("School: ", school, "Enrolled: ", enrolled)
    print("Chemistry: ", chemistry)
    print("Biology: ", biology)
    print("Score: ",total)

SyntaxError: non-default argument follows default argument (1759533300.py, line 2)

# Default args need to be specified at the very end of the argument list which is passed into your function

In [16]:
def print_student_details(name,school = "Harvard",
                         math,physics,chemistry = 50,biology = 50,
                         enrolled=False):
    
    total = math + physics + chemistry + biology
    
    print("Name: ", name)
    print("School: ", school, "Enrolled: ", enrolled)
    print("Chemistry: ", chemistry)
    print("Biology: ", biology)
    print("Score: ",total)

SyntaxError: non-default argument follows default argument (2601883037.py, line 2)

In [17]:
def print_student_details(name = "Anand",school,
                         math,physics,chemistry = 50,biology = 50,
                         enrolled=False):
    
    total = math + physics + chemistry + biology
    
    print("Name: ", name)
    print("School: ", school, "Enrolled: ", enrolled)
    print("Chemistry: ", chemistry)
    print("Biology: ", biology)
    print("Score: ",total)

SyntaxError: non-default argument follows default argument (3504082131.py, line 2)

In [18]:
def print_student_details(name = "Anand",school = "IIM",
                         math = 50 ,physics = 89,chemistry = 50,biology = 50,
                         enrolled=False):
    
    total = math + physics + chemistry + biology
    
    print("Name: ", name)
    print("School: ", school, "Enrolled: ", enrolled)
    print("Chemistry: ", chemistry)
    print("Biology: ", biology)
    print("Score: ",total)

In [19]:
print_student_details()

Name:  Anand
School:  IIM Enrolled:  False
Chemistry:  50
Biology:  50
Score:  239

In [20]:
print_student_details(name = "Alex")

Name:  Alex
School:  IIM Enrolled:  False
Chemistry:  50
Biology:  50
Score:  239

In [22]:
print_student_details("Alex","IIT",89, biology = 58, enrolled = True)

Name:  Alex
School:  IIT Enrolled:  True
Chemistry:  50
Biology:  58
Score:  286