In [1]:
print()

In [2]:
print("Bob")

Bob

In [3]:
print("Bill","Buck")

Bill Buck

In [4]:
print("Jack","Jill","Bill")

Jack Jill Bill

In [1]:
def print_fn(string_1):
    
    print(string_1)

In [2]:
print_fn()

TypeError: print_fn() missing 1 required positional argument: 'string_1'

In [4]:
def print_fn(string_1 = "\n"):
    
    print(string_1)

In [5]:
print_fn()

In [6]:
print_fn("Jack")

Jack

In [7]:
print_fn("Jack","Jill")

TypeError: print_fn() takes from 0 to 1 positional arguments but 2 were given

In [8]:
def print_fn(string_1 = "\n", string_2 = ""):
    
    print(string_1, string_2)

In [9]:
print_fn()

In [10]:
print_fn("Jack")

Jack

In [11]:
print_fn("Jack","Jill")

Jack Jill

In [12]:
print_fn("Jack","Jill","Bill")

TypeError: print_fn() takes from 0 to 2 positional arguments but 3 were given

In [13]:
def print_fn(*args):
    
    args_type = type(args)
    print(args_type)
    
    print(args)

# *args - indicates that the function can be invoked with any number of arguments

In [15]:
print_fn()

<class 'tuple'>
()

# *args - The function receives the variable number of arguments as a tuple

In [16]:
print_fn("Jack")

<class 'tuple'>
('Jack',)

In [17]:
print_fn("Jack","Jill")

<class 'tuple'>
('Jack', 'Jill')

In [18]:
print_fn("Jack","Jill","Bill")

<class 'tuple'>
('Jack', 'Jill', 'Bill')

In [19]:
names_list = ["jack","jill",'Bill',"Steve","Jim"]

print_fn(names_list)

<class 'tuple'>
(['jack', 'jill', 'Bill', 'Steve', 'Jim'],)

In [20]:
#The list is the first field in the tuple

In [21]:
print(*names_list)

jack jill Bill Steve Jim

# *names_list - First unpacks the individual elements in the names_list