In [1]:
# **kwargs

In [2]:
def student_details(**kwargs):
    
    print(type(kwargs))
    print(kwargs)

## **kwargs - packs the variable length arguments into a dictionary not a tuple

In [3]:
student_details()

<class 'dict'>
{}

In [4]:
student_details(name = "John")

<class 'dict'>
{'name': 'John'}

In [5]:
student_details(name = "John", age = 18)

<class 'dict'>
{'name': 'John', 'age': 18}

In [6]:
student_details(name="John", age = 18, college = "Boston University")

<class 'dict'>
{'name': 'John', 'age': 18, 'college': 'Boston University'}

In [7]:
def student_details(**details):
    
    for key, value in details.items():
        print(key,value)

In [8]:
student_details(name = "John", age = 18, college = "Boston University")

name John
age 18
college Boston University

In [9]:
details_dictionary = {'name':'John','age':18,'college':'Boston University'}

In [10]:
student_details(details_dictionary)

TypeError: student_details() takes 0 positional arguments but 1 was given

In [11]:
student_details(**details_dictionary)

name John
age 18
college Boston University

# **details_dictionary First unpacks the individual elements in the dictionary and pass them in the form of keyword arguments in the student_details function

In [13]:
def student_details(**details):
    
    if 'name' in details:
        print('Name: ',details['name'])
        
    if 'age' in details:
        print('Age: ', details['age'])
        
    if 'college' in details:
        print("College: ", details['college'])

In [14]:
student_details(name = 'John')

Name:  John

In [15]:
student_details(name='John', college='Boston University')

Name:  John
College:  Boston University

In [16]:
student_details(name='John', college='Boston University', age = 22)

Name:  John
Age:  22
College:  Boston University

In [17]:
def students_in_college(*student_names, **college_details):
    print("Students--")
    for s in student_names:
        print(s)
        
    print()
    
    print("College Details--")
    for key,value in college_details.items():
        print(key,value)

In [18]:
students_in_college("Nitin","Amit","Kapil", name = "IIM", city = "Kolkata")

Students--
Nitin
Amit
Kapil

College Details--
name IIM
city Kolkata