In [1]:
def square(x):
    
    print("The square of",x,"is",x*x)

In [2]:
square(3)

The square of 3 is 9

In [3]:
square(10001)

The square of 10001 is 100020001

In [4]:
square("John")

TypeError: can't multiply sequence by non-int of type 'str'

In [5]:
num = 25

square(num)

The square of 25 is 625

In [6]:
another_num = 100

square(num)
square(another_num)

The square of 25 is 625
The square of 100 is 10000

In [7]:
salary = 1000
expense = 300

def my_savings(a,b):
    print("My total savings:", salary - expense)

In [8]:
my_savings(1000,300)

My total savings: 700

In [9]:
my_savings(1200,400)

My total savings: 700

In [10]:
def my_actual_savings(a,b):
    print("My actual savings:", a-b)

In [11]:
my_actual_savings(1200,400)

My actual savings: 800

In [12]:
salary = 2000
expense = 700

def calculate_savings(salary,expense):
    print("My total savings:", salary - expense)

# Give your input arguments meaningful names
## They will improve the usability and maintainibility of your functions

In [13]:
calculate_savings()

TypeError: calculate_savings() missing 2 required positional arguments: 'salary' and 'expense'

In [14]:
#Even though we have global variables with same name the function doesn't reference those variables it requires the input arguments to be specified

In [15]:
calculate_savings(salary,expense)

My total savings: 1300

In [16]:
calculate_savings(3000,1000)

My total savings: 2000

In [17]:
total_salary = 4000
total_expense = 2500

calculate_savings(total_salary,total_expense)

My total savings: 1500